/* line 1, ../../_sass/site.sass */
body { margin-top: 0; font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }

/* line 5, ../../_sass/site.sass */
div#container { width: 720px; margin: 0 auto; }
/* line 9, ../../_sass/site.sass */
div#header { margin-bottom: 25px; text-align: center; }
/* line 13, ../../_sass/site.sass */
div#content { text-align: left; }
/* line 16, ../../_sass/site.sass */
div#content img { display: block; margin-left: auto; margin-right: auto; }
/* line 22, ../../_sass/site.sass */
div#footer { margin-top: 25px; font-size: 0.9em; color: #aaaaaa; }
/* line 27, ../../_sass/site.sass */
div .post { margin-bottom: 45px; border-bottom: 1px solid #cccccc; }

/* line 31, ../../_sass/site.sass */
h1 { color: #5ba3de; font-size: 3em; font-weight: normal; margin-top: 0; margin-bottom: 0; }
/* line 38, ../../_sass/site.sass */
h1.title { background-color: #5ba3de; color: white; padding-top: 2em; padding-left: 5px; font-size: 4em; font-weight: bold; }
/* line 47, ../../_sass/site.sass */
h1.title a:link, h1.title a:visited { color: white; text-decoration: none; }
/* line 51, ../../_sass/site.sass */
h1.title a:hover { text-decoration: underline; }

/* line 54, ../../_sass/site.sass */
.box { background-color: #cfcfcf; padding: 0.5em; margin-bottom: 1em; }
/* line 60, ../../_sass/site.sass */
.box a:link, .box a:visited { color: black; font-weight: bold; text-decoration: none; }
/* line 65, ../../_sass/site.sass */
.box a:hover { text-decoration: underline; }
/* line 68, ../../_sass/site.sass */
.box ul { margin: 0.25em 0.2em; }
/* line 71, ../../_sass/site.sass */
.box ul li { list-style: none; margin-top: 1em; display: inline; margin-right: 0.4em; margin-bottom: 1em; line-height: 2.5; }

/* line 80, ../../_sass/site.sass */
a:link { color: #5ba3de; }
/* line 83, ../../_sass/site.sass */
a:visited { color: #6db1e8; }
